# Machine Learning Model #
---
## Decision Tree for Weather

In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.datasets import make_blobs
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

### Rain Prediction

In [2]:
rainfall = (pd.read_csv("rainfall-monthly-number-of-rain-days.csv"))
humidity = (pd.read_csv("relative-humidity-monthly-mean.csv"))
x = pd.merge(humidity,rainfall)
humid_rain = x.drop('month', axis='columns')
display(humid_rain)

     mean_rh  no_of_rainy_days
0       81.2                10
1       79.5                 5
2       82.3                11
3       85.9                14
4       83.2                10
..       ...               ...
467     81.1                20
468     82.6                17
469     73.8                 2
470     76.6                14
471     77.4                14

[472 rows x 2 columns]

In [3]:
rain_inputs = humid_rain.drop('no_of_rainy_days',axis='columns')
rain_target = humid_rain['no_of_rainy_days']

In [4]:
rain_inputs

     mean_rh
0       81.2
1       79.5
2       82.3
3       85.9
4       83.2
..       ...
467     81.1
468     82.6
469     73.8
470     76.6
471     77.4

[472 rows x 1 columns]

In [5]:
rain_target

0      10
1       5
2      11
3      14
4      10
       ..
467    20
468    17
469     2
470    14
471    14
Name: no_of_rainy_days, Length: 472, dtype: int64

In [6]:
rain_predict = tree.DecisionTreeClassifier()

In [7]:
rain_predict.fit(rain_inputs, rain_target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [8]:
rain_predict.score(rain_inputs, rain_target)

0.4216101694915254

In [9]:
rain_predict.predict([[81.2]])
# The 10 represents the number of days it will rain based on humidity

array([10], dtype=int64)

### Temperature Prediction

In [10]:
temperature = pd.read_csv("surface-air-temperature-monthly-mean.csv")
y = pd.merge(rainfall,temperature)
rain_temp = y.drop('month', axis='columns')
display(rain_temp)

     no_of_rainy_days  mean_temp
0                  10       25.9
1                   5       27.1
2                  11       27.2
3                  14       27.0
4                  10       28.0
..                ...        ...
467                20       27.2
468                17       26.0
469                 2       27.3
470                14       27.9
471                14       28.2

[472 rows x 2 columns]

In [11]:
rain_temp["mean_temp"] = rain_temp["mean_temp"].astype(int)
rain_temp

     no_of_rainy_days  mean_temp
0                  10         25
1                   5         27
2                  11         27
3                  14         27
4                  10         28
..                ...        ...
467                20         27
468                17         26
469                 2         27
470                14         27
471                14         28

[472 rows x 2 columns]

In [12]:
temp_inputs = rain_temp.drop('mean_temp',axis='columns')
temp_target = rain_temp['mean_temp']

In [13]:
temp_inputs

     no_of_rainy_days
0                  10
1                   5
2                  11
3                  14
4                  10
..                ...
467                20
468                17
469                 2
470                14
471                14

[472 rows x 1 columns]

In [14]:
temp_target

0      25
1      27
2      27
3      27
4      28
       ..
467    27
468    26
469    27
470    27
471    28
Name: mean_temp, Length: 472, dtype: int32

In [15]:
temp_predict = tree.DecisionTreeClassifier()

In [16]:
temp_predict.fit(temp_inputs, temp_target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [17]:
temp_predict.score(temp_inputs, temp_target)

0.5063559322033898

In [18]:
temp_predict.predict([[10]])
# The 28 represents the estimated average temperature based on number of rainy days

array([28])